* {
	box-sizing: border-box;
}

.common {
	max-width: 33.333%;
	border: 5px solid red;
	border-radius: 15px;
}

.inner {
	padding: 30px;
}

.form {
}

.form__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form__container input {
	width: 100%;
	outline: none;

	font-size: 16px;
	line-height: 110%;
	color: #000;

	border-radius: 3px;
	border: 1px solid #fad000;
	padding: 5px 10px;
	margin: 0 0 20px 0;
}
